*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    background-color: beige;
    color:blueviolet;
}

h2{
    text-align: center;
    background-color: brown;
    color:whitesmoke;
}